.app {
  .header {
    @include clearfix;
    background-color: $header-background-color;
    padding: 10px 10px 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .menu-toggler {
      float: left;

      img {
        height: auto;
        width: 40px;
      }
    }

    & > span {
      color: $header-text-color;
      display: inline-block;
      line-height: $main-font-size + 8px;
      margin-left: 10px;
      margin-top: 8px;
    }
  }
}