.imagecalibration {
  margin: 0 auto;
  width: 1280px;

  button {
    margin: 20px 20px 0 0;
  }

  canvas {
    position: absolute;
  }

  .canvas {
    height: 720px;
    position: relative;
    width: 1280px;

    &.delete {
      .area .delete {
        display: block;
      }
    }
  }

  .area {
    border: 2px solid black;
    position: absolute;

    .delete {
      background-color: #333;
      cursor: pointer;
      display: none;
      padding: 1px 3px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;

      &:before {
        color: #db0000;
        content: "x";
        display: block;
      }
    }
  }
}