* {
  @include box-sizing(border-box);
}

body.app {
  background-color: $main-background-color;
}

.content {
  margin: 80px auto 20px;
  max-width: $content-width;
  padding: 0 $outer-space;
  width: 100%;

  .stationsearch {
    @include clearfix;
    margin-bottom: $element-space;

    input, button {
      float: left;
    }

    input {
      width: calc(100% - 30px);
    }

    button {
      width: 30px;
    }
  }

  .placeform {
    @include clearfix;

    button {
      float: right;
      margin-top: 30px;
    }
  }
}

input, button {
  outline: none;
  padding: 2px;
}

button {
  @include transition(all $transition-time $transition-ease);
  background-color: $link-color;
  border: 2px solid darken($link-color, 10%);
  color: $color-on-link-color;
  cursor: pointer;
  padding: 10px 30px;
  
  &:hover, &.active {
    background-color: darken($link-color, 10%);
  }

  &.loading {
    background: linear-gradient(90deg, lighten($link-color, 10%), darken($link-color, 10%));
    background-size: 400% 400%;
    border-color: darken($link-color, 10%) !important;
    cursor: pointer !important;
    pointer-events: auto !important;

    -webkit-animation: loading 1s ease infinite;
    -moz-animation: loading 1s ease infinite;
    animation: loading 1s ease infinite;

    @-webkit-keyframes loading {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
    }
    @-moz-keyframes loading {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
    }
    @keyframes loading {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
    }
  }

  &.search {
    background: none;
    border: none;
    color: $link-color;
    padding: 0;

    &:hover {
      background-color: transparent;
    }
  }

  .deactivated & {
    background-color: #999;
    border-color: #999;
    cursor: default;
    pointer-events: none;
  }
}

form input[type="text"] {
  background: none;
  border: none;
  border-bottom: 1px solid $link-color;

  &:focus {
    border-bottom-color: darken($link-color, 10%);
  }
}

ul.scrolllist {
  list-style: none;
  margin: 0;
  margin-bottom: $element-space;
  max-height: 200px;
  overflow-y: auto;
  padding: 0;

  &.laststations {
    max-height: 350px;
  }

  li {
    background-color: lighten($main-background-color, 1%);
    cursor: pointer;
    padding: 5px;

    &:nth-child(2n+1) {
      background-color: darken($main-background-color, 1%);
    }

    &:hover, &.active {
      @include transition(all $transition-time $transition-ease);
      background-color: $link-color;
      color: $color-on-link-color;

      a {
        color: $color-on-link-color;
      }
    }

    a {
      display: block;
    }
  }
}

ul.waggons {
  list-style: none;
  margin: 0;
  padding: 0;

  &:before, &:after {
    font-size: 75%;
    margin-left: 20px;
    position: relative;
    opacity: 0.76;
  }

  &:before {
    content: "(vorne)";
  }

  &:after {
    content: "(hinten)";
  }
  
  li {
    @include clearfix;
    @include transition(all $transition-time $transition-ease);
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }

    span {
      float: left;
    }

    div {
      @include transition(all $transition-time $transition-ease);
      float: left;
      margin-left: 10px;
      max-width: 200px;
      padding: 10px;
      text-align: center;
      width: 30%;
    }

    &.active {
      div {
        @include transition(all $transition-time $transition-ease);
        max-width: 400px;
        padding: 80px;
        width: 100%;
      }
    }

    &.cap1 div {
      background-color: $capacity-color-1;
      border: 2px solid darken($capacity-color-1, 20%);
    }

    &.cap2 div {
      background-color: $capacity-color-2;
      border: 2px solid darken($capacity-color-2, 20%);
    }

    &.cap3 div {
      background-color: $capacity-color-3;
      border: 2px solid darken($capacity-color-3, 20%);
      color: #fff;
    }
  }
}

.client {
  .seats {
    width: 320px;

    form {
      margin: 0 -25px;
      overflow: hidden;
    }

    label {
      @include single-transition(all, 0.3s, ease);
      background-color: $capacity-color-1;
      color: #fff;
      cursor: default;
      display: block;
      float: left;
      height: 100px;
      margin: 0 25px 25px;
      position: relative;
      text-align: center;
      width: calc(50% - 50px);

      span.id {
        @include transform(translate(-50%, -50%));
        @include user-select(none);
        font-size: 40px;
        left: 50%;
        position: absolute;
        top: 50%;
      }

      span.occ, span.empty {
        bottom: 3px;
        display: none;
        font-size: 17px;
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
      }

      span.empty {
        display: block;
      }
    }
  }

  input {
    display: none;
  }

  input:checked + label {
    background-color: $capacity-color-3;

    & > span.occ {
      display: block;
    }

    & > span.empty {
      display: none;
    }
  }

  .counter-wrapper {
    margin-top: 70px;
    text-align: center;

    span {
      font-size: 70px;
      font-weight: bold;
      line-height: 1em;
    }
  }
}