.prototype {
  .seats {
    margin: 50px auto;
    width: 300px;
  }

  h2 {
    @include user-select(none);
    text-align: center;
  }

  .seats label {
    @include single-transition(all, 0.3s, ease);
    background-color: $capacity-color-1;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    height: 100px;
    margin: 0 25px 50px 25px;
    position: relative;
    width: 100px;

    span {
      @include transform(translate(-50%, -50%));
      @include user-select(none);
      font-size: 40px;
      left: 50%;
      position: absolute;
      top: 50%;
    }
  }

  input {
    display: none;
  }

  input:checked + label {
    background-color: $capacity-color-3;
  }
}