body {
  color: $main-font-color;
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
}

a {
  color: $link-color;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  margin: 0 0 10px;
}

h5 {
  margin-bottom: 20px;
}