$main-color: #5f96b8;
$main-background-color: #eeeeee;
$header-background-color: $main-color;
$header-text-color: #fff;

$main-font-color: #3d3d3d;
$main-font-family: 'Roboto', sans-serif;
$main-font-size: 20px;
$main-line-height: 1.25em;

$link-color: #5f96b8;
$color-on-link-color: #fff;

$content-width: 1280px;
$outer-space: 10px;
$element-space: 25px;

$capacity-color-1: #4caf50;
$capacity-color-2: #ff7043;
$capacity-color-3: #b71c1c;

$transition-time: 0.3s;
$transition-ease: ease-in;