extends layout

block body
  body.app.client

block content
  .header
    a(href='/')
      a.menu-toggler
        img(src='logo.png')
    span Need for Seat
  .content.seats
    h5 Wagen #2136
    form
      each i in [0, 1, 2, 3]
        input(id='seat#{i}', type="checkbox", value='#{i}')
        label(class='seat#{i}')
          span.id= i
          span.occ besetzt
          span.empty frei

    div.counter-wrapper
      h5 Fahrgäste im Waggon:
      span#counter.counter 0

block javascripts
  script(src="/socket.io/socket.io.js")
  script(src="javascripts/client.js")