extends layout

block content
  div.imagecalibration
    h1= title

    div
      canvas#image(width="1280", height="720")
      div#canvas.canvas
      #buttons.buttons
        button#save Speichern
        button#takepicture Hole Bild
        button#recalibrate(style="display: none") Neu kalibrieren
        button#delete Bereiche löschen

block javascripts
  script(src="/socket.io/socket.io.js")
  script(src="javascripts/imagecalibration.js")