doctype html
html
  head
    meta(charset="UTF-8")
    title= title
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
    meta(name='theme-color', content='#5f96b8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')

  block body
    body

  block content

  script(src="javascripts/jquery-2.2.3.min.js")
  block javascripts
