extends layout

block body
  body.prototype

block content
  .seats
    h2 Prototyp Sitze per Hand belegen
    form
      each i in [0, 1, 2, 3]
        input(id='seat#{i}', type="checkbox", value='#{i}')
        label(class='seat#{i}', for='seat#{i}')
          span= i

block javascripts
  script(src="/socket.io/socket.io.js")
  script(src="javascripts/prototype.js")